<div class="row">

  <div class="col-sm-10 col-sm-offset-1">

    <h1 class='text-center text-primary'>Escape Bus</h1>

    <div id="map-canvas" style="height:300px;width:500px;margin:0;padding:0;"></div>


    <div class="well">
      <h2 class="text-muted">You are currently standing at...</h2>
      <p><%= @location.my_location %></p>

      <h2 class="text-muted">The closest buses are...</h2>

      <% if @nearby_buses.empty? %>
        <p>...not really that close. Time to walk, bike, taxi, or Uber.</p>
      <% end %>

      <div class="row">
        <% @nearby_buses.each do |bus| %>
          <div class="col-sm-6">
            <div class="panel panel-default">
            <div class="panel-body">
            <h4 class='text-primary'><%= bus["ROUTE"] %> <%= bus["DIRECTION"] %></h4>
            <p>
              <strong>Next Stop: </strong><%= bus["TIMEPOINT"] %><br>
              <strong>Bus Number: </strong><%= bus["VEHICLE"] %><br>
            </p>
            </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'New Search', new_location_path, class: 'btn btn-success' %>
      <%= link_to 'Edit Search', edit_location_path(@location), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

 <script type="text/javascript">
     function initialize() {
      //User latitude and longitude
       var userLocation = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);

       var userIcon = "<%= image_path 'man_icon.png' %>";

       //Added location to map marker
       var mapOptions = {
         center: userLocation,
         zoom: 15
       };
       var map = new google.maps.Map(document.getElementById('map-canvas'),
           mapOptions);

       //Add user location marker to map
       var userMarker = new google.maps.Marker({
        position: userLocation,
        map: map,
        animation: google.maps.Animation.DROP,
        title: 'You are here.',
        icon: userIcon
       });

       //Get all the nearby buses and convert to JSON
       var nearbyBuses = <%= raw @nearby_buses.to_json %>;

       //Looping through nearby buses to put bus makers on map

       nearbyBuses.forEach(function (element){
        var busLocation = new google.maps.LatLng(element['LATITUDE'],element['LONGITUDE']);

       var busMarker = new google.maps.Marker({
        position: busLocation,
        map: map,
        animation: google.maps.Animation.DROP,
        title: element["ROUTE"] + ' ' + element['DIRECTION']
       });
       });
     }
     google.maps.event.addDomListener(window, 'load', initialize);
   </script>