<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class='text-center text-primary'>Escape Bus</h1>
    <div class="well">
      <h2 class="text-muted">You are currently standing at...</h2>
      <p><%= @location.my_location %></p>

      <h2 class="text-muted">The closest buses are...</h2>

      <% if @nearby_buses.empty? %>
        <p>...not really that close. Time to walk, bike, taxi, or Uber.</p>
      <% end %>

      <div class="row">
        <% @nearby_buses.each do |bus| %>
          <div class="col-sm-6">
            <div class="panel panel-default">
            <div class="panel-body">
            <h4 class='text-primary'><%= bus["ROUTE"] %> <%= bus["DIRECTION"] %></h4>
            <p>
              <strong>Next Stop: </strong><%= bus["TIMEPOINT"] %><br>
              <strong>Bus Number: </strong><%= bus["VEHICLE"] %><br>
            </p>
            </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'New Search', new_location_path, class: 'btn btn-success' %>
      <%= link_to 'Edit Search', edit_location_path(@location), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
